<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap6 rescap">

  <Identity
    Name="Logiqs.ScannerVirtualKeyboard"
    Publisher="CN=koen.lee"
    Version="1.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="26b75554-d347-488a-a071-05ef4056d255" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ScannerVirtualKeyboard</DisplayName>
    <PublisherDisplayName>Koen van Leeuwen</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Sample.Uwp.App">
      <uap:VisualElements
        DisplayName="ScannerVirtualKeyboard"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Uses your built-in camera or webcam to scan a single 2d or 3d barcode and emulates typing for it."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="inputInjectionBrokered" />
    <uap6:Capability Name="graphicsCapture"/>
    <DeviceCapability Name="webcam"/>
  </Capabilities>
</Package>